.loading {
  display: none !important;
}

.loading-transaction {
  display: none !important;
}

.card p.done {
  display: none;
}

.card.submited p.yet {
  display: none;
}

.card.submited p.done {
  display: flex;
}

.card {
  display: none;
}

.card.is-active {
  display: block;
}